.a-text-title {
	padding-top:2rem;
	text-transform:none;
    position: relative !important;
    font-size: 60px;
    font-weight: 100 !important;
    color: #fff;
    font-family: Roboto, sans-serif !important;
}

.m-list-reasons.homepage-list {
    padding: 30px;
    text-align: left;
    list-style: none;
	font-weight:300;
    font-size: 19px;
    display: inline-block; 
    width: 50%;
    font-family: Roboto, sans-serif !important;
}
.m-list-reasons.homepage-list div{
	display: inline;
}
#gender-select label{
	margin-top: 0px; 
}